:javascript
  $(document).ready(function(){
    console.log( "#{@time_in_ruby}")
    var data = [
      ['Time in Ruby', #{average_time(@time_in_ruby)}], ['Time in Database', #{average_time(@time_in_db)}], ['Time Rendering', #{average_time(@time_rendering)}]
    ];
    var plot1 = jQuery.jqplot ('chart1', [data],
      {
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer,
          rendererOptions: {
            showDataLabels: true,
            dataLabels: 'value'

          }
        },
        legend: { show:true, location: 'e' }
      }
    );
  });
